<!DOCTYPE html>
<html ng-app="myModule">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.0/angular.js"></script>
    <script src="app6.js"></script>
    <title>Document</title>
    <style>
        * {
          font-family: Arial, Helvetica, sans-serif;
        }
  
        table {
          border-collapse: collapse;
          font-family: Arial;
        }
  
        td {
          border: 1px solid black;
          padding: 5px;
        }
  
        th {
          border: 1px solid black;
          padding: 5px;
          text-align: left;
        }
      </style>
</head>
<body ng-controller="myController">
    <input type="checkbox" ng-model="hideSalary" /> Hide Salary
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Gender</th>
                <th>City</th>
                <th ng-hide="hideSalary">Salary</th>
                <th ng-show="hideSalary">Salary</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="emp in employees">
                <td>{{ emp.name }}</td>
                <td>{{ emp.gender }}</td>
                <td>{{ emp.city }}</td>
                <td ng-hide="hideSalary">{{ emp.salary }}</td>
                <td ng-show="hideSalary"> ##### </td>
            </tr>
        </tbody>
    </table>
</body>
</html>