<!-- <h3>{{name}}</h3>
<h3>{{name | lowercase}}</h3>
<h3>{{name | uppercase}}</h3>
<h3>{{name | titlecase }}</h3>
<h3>{{name | slice:1:4}}</h3>
<h3>{{person | json }}</h3> -->

<!-- <h2>{{5.678 | number:'1.2-3'}}</h2>
<h2>{{5.678 | number:'3.4-5'}}</h2>
<h2>{{5.678 | number:'1.1-2'}}</h2>
<h2>{{.25 | percent }}</h2> -->


<!-- <h2>{{5.678 | currency:'£' }}</h2> -->

<h2>{{d}}</h2>
<h2>{{d | date:'short'}}</h2>
<h2>{{d | date:'shortDate'}}</h2>
<h2>{{d | date:'shortTime'}}</h2>
<h2>{{d | date:'mediumDate'}}</h2>
<h2>{{d | date:'mediumTime'}}</h2>


